<!DOCTYPE html>
<html>
<head>
    <link href="~/bootstrap/css/reset.css" rel="stylesheet" />
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <style>
        header {
            background-color: black;
        }

        main {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .background-image {
            background-image: url('/images/robotix.jpg');
            background-clip: border-box;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: blur(3px);
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .card-login {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 450px;
            background-color: white;
            border-radius: 5px;
            -webkit-box-shadow: 0px 0px 17px 12px rgba(102,102,102,1);
            -moz-box-shadow: 0px 0px 17px 12px rgba(102,102,102,1);
            box-shadow: 0px 0px 17px 12px rgba(102,102,102,1);
        }

        .card-login__header {
            padding: 10px;
            width: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

        .card-login__body {
            padding: 10px;
            width: 100%;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <main>
        @RenderBody()
    </main>
    <div class="background-image"></div>
</body>
<script src="~/jquery/jquery.min.js"></script>
</html>